body{
  font-family: Lato;
}

.form {
   background-color: #DDE7E9;
   font-size: 15px;
   font-weight: 500;
}
fieldset{
  border: 0;
}
.field {
  margin-bottom: 0.5em;
  box-sizing: border-box;
}
label {
  text-align: left;
  display: inline-block;
  padding-bottom: 2px;
  width: 250px;
}
input {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  width: 300px;
}
select{
  margin-left: 5px;
}

.btn{
  background-color: #3D6B9B;
  color: white;
  padding: 7px 9px;
  margin: 10px 0;
  border: 0.2em solid black;
  border-radius: 2px;
}
.btn:hover{
  background-color: #6B91C6;
}

.table{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: white;
  font-size: 15px;
  font-weight: 500;
}
.table-header{
  width: 100%;
  background-color: #3D6B9B;
  color: white;
}
.table-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: black;
}
.row {
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
}

.column {
  width: 20%;
  padding: 10px;
  text-align: center;
}
.column:hover{
  background-color: #6B91C6
} 
